@model SportsStore.Model.Entities.Product
@{
    ViewBag.Title = Model.Name;
}

<div class="stream-area">
    <div class="u-stream">
        <div class="center">
            <div class="wrapper">
                <div class="inner">
                    <div class="slide">
                        <img src="@Url.Action("GetImage", "Product", new { productId = @Model.ProductID })">
                        <img src="@Url.Action("GetImage", "Product", new { productId = @Model.ProductID })">
                        <img src="@Url.Action("GetImage", "Product", new { productId = @Model.ProductID })">
                    </div>


                </div>
            </div>

            <div class="buttons">
                <button class="btn active first-slide"></button>
                <button class="btn second-slide"></button>
            </div>
        </div>

        <div class="u-detail">
            <div class="u-content">
                <div class="u-p-wrapper anim" style="--delay: .1s">
                    <div class="u-p-title anim" style="--delay: .2s">@Model.Category @Model.Name</div>
                    <div class="button-wrapper">
                        @{

                            foreach (var size in Model.SizeMass)
                            {
                                <button id="@size.ToString()@Model.ProductID" class="size" onclick="isActive('@size.ToString()','@Model.ProductID')">
                                    @size.ToString()
                                </button>
                            }
                        }
                    </div>
                </div>
                <div class="u-p-subtitle anim" style="--delay: .3s">@Model.Description</div>

            </div>
        </div>

        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <p class="anim" style="--delay: .7s">@Model.Price.ToString("c")</p>
            <input type="submit" style="width: 100%;justify-content: center; --delay: .6s" class="vid__button anim" value="В корзину" />
            <input id="@Model.ProductID" name="size" class="_size" style="visibility:hidden" value="" />
        }
    </div>
</div>

<script src="~/Scripts/swiper.js"></script>

