@model SportsStore.Model.Entities.Product
@{
    ViewBag.Title = "ProductFull";
}

<div class="stream-area">
    <div class="u-stream">
        @if (Model.ImageData != null)
        {
            <img src="@Url.Action("GetImage", "Product", new { Model.ProductID })" />
        }

        <div class="u-detail">
            <div class="u-content">
                <div class="u-p-wrapper anim" style="--delay: .1s">
                    <div class="author-img__wrapper u-author u-p">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                            <path d="M20 6L9 17l-5-5"></path>
                        </svg>

                        <img class="author-img" src="https://images.pexels.com/photos/1680172/pexels-photo-1680172.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500">
                    </div>
                    <div class="u-p-detail">
                        <div class="u-p-name">@Model.Firma</div>
                    </div>
                    <div class="button-wrapper">
                        @{

                            foreach (var size in Model.SizeMass)
                            {
                                <button id="@size.ToString()@Model.ProductID" class="size" onclick="isActive('@size.ToString()','@Model.ProductID')">
                                    @size.ToString()
                                </button>
                            }
                        }
                    </div>
                </div>
                <div class="u-p-title anim" style="--delay: .2s">@Model.Category @Model.Name</div>
                <div class="u-p-subtitle anim" style="--delay: .3s">@Model.Description</div>

            </div>
        </div>
        <div class="vid__button anim" style="--delay: .6s">В корзину</div>
    </div>
    <div class="chat-stream">
        <div class="chat-vid__container">
            <div class="chat-vid__title anim" style="--delay: .3s">Вы смотрели</div>
            <div class="chat-vid anim" style="--delay: .4s">
                <div class="chat-vid__wrapper">
                    <img class="chat-vid__img" src="https://cdn.nohat.cc/thumb/f/720/3b55eddcfffa4e87897d.jpg">
                    <div class="chat-vid__content">
                        <div class="chat-vid__name">Prepare for your first skateboard jump</div>
                        <div class="chat-vid__by">Jordan Wise</div>
                        <div class="chat-vid__info">125.908 views <span class="seperate"></span>2 days ago</div>
                    </div>
                </div>
            </div>
            <div class="chat-vid anim" style="--delay: .5s">
                <div class="chat-vid__wrapper">
                    <img class="chat-vid__img" src="https://iamaround.it/wp-content/uploads/2015/02/pexels-photo-4663818.jpeg">
                    <div class="chat-vid__content">
                        <div class="chat-vid__name">Prepare for your first skateboard jump</div>
                        <div class="chat-vid__by">Jordan Wise</div>
                        <div class="chat-vid__info">125.908 views <span class="seperate"></span>2 days ago</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

